<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h2>
        <img src="{{url_for('static',filename='images/1.jpg')}}" alt="头像" class="avatar">
        {{ user.name }}'s watchlist</h2>
    
    <!-- 过滤器 变量| -->
    <p>总共{{movies|length}}个</p>
    <ul class="movie-list">
        {% for movies in movies %}
        <li>{{movies.title}} - {{movies.year}}</li>
        {% endfor %}
    </ul>
    <footer>
        <small>&copy;2020<a href="#">1901电影列表</a></small>
    </footer>
</body>
</html>