<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h2>
        <img src="{{url_for('static',filename='images/1.jpg')}}" alt="头像" class="avatar">
        {{ user.name }}'s watchlist</h2> -->

    
    <!-- 过滤器 变量| -->

    {% extends 'base.html'%}
    {% block content %}
    <p>总共{{movies|length}}个</p>
    <ul class="movie-list">
        {% for movies in movies %}
        <li>{{movies.title}} - {{movies.year}}</li>
        <span class="float-right"> 
            <a  class='baidu'href="http://v.baidu.com/v?word={{ movies.title }}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" title="在百度视频中查找">百度视频</a>
            
        </span>
        {% endfor %}
    </ul>
    {% endblock %}

    <!-- <footer>
        <small>&copy;2020<a href="#">1901电影列表</a></small>
    </footer> -->
</body>
</html>